.site-footer {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 60px 20px 20px;
  font-family: var(--font-family);
}

.site-footer .container {
  max-width: 1300px;
  margin: 0 auto;
}


.footer-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-bottom: 40px;
}

/* Footer Titles */
.footer-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--white);
  position: relative;
  text-decoration: 2px solid var(--white);
      text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--secondary-color);
}

.footer-title::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: var(--accent-color);
  margin-top: 8px;
}

/* Links */
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: var(--white);
  text-decoration: none !important;
  transition: color 0.3s ease;
  position: relative; 
  overflow: hidden; 
}

.footer-links a::after {
  content: '';
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: var(--white) ;
  transform: scaleX(0); 
  transform-origin: left; 
  transition: transform 0.2s ease-out; 
}

.footer-links a:hover::after {
  transform: scaleX(1); 
}

/* Contact Info */
.footer-col p{
  color: var(--white);
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.footer-contact {
    font-size: 1.3em !important;
    line-height: 1.3 !important;
    color: var(--white);
    font-weight: bold;
}

@media (max-width: 450px) {
  .footer-contact {
    font-size: 1.1em !important;
  }
}

.footer-col a:hover {
  color: var(--accent-color);
}

/* Social Icons */
.social-icons {
  margin-top: 0;
}

.social-icons a {
  color: var(--white);
  font-size: 2rem;
  margin-right: 50px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: var(--accent-color);
  transform: translateY(-3px);
}

/* Map */
.footer-col iframe {
  border-radius: 10px;
  width: 100%;
  height: 220px;
}

/* Bottom Footer */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-top: 15px;
}

.footer-bottom p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.75);
}

/* Responsive */
@media (max-width: 768px) {
  .footer-title {
    font-size: 1.1rem;
  }

  .footer-col iframe {
    height: 180px;
  }
}
